<section class="px-12 py-6 md:py-6 md:appear-animation">
    <div class="text-center mt-4 md:mt-0">
        <span class="font-medium tracking-widest text-purple-700">CONTACT</span>
        <p class="text-4xl mt-3">Get In Touch With Us
        </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mt-[3rem]">
        <app-branch-card />
        <app-branch-card />
        <app-branch-card />
        <app-branch-card />
        <app-branch-card />
        <app-branch-card />
    </div>
    <!-- <app-contact-form /> -->
</section>