<div class="flex flex-col">
    <img class="h-[20rem] w-[16rem] rounded-2xl mb-3 object-cover"
        src="https://images.ladbible.com/resize?type=webp&quality=1&width=1920&fit=contain&gravity=auto&url=https://images.ladbiblegroup.com/v3/assets/bltb5d92757ac1ee045/blt864986663773d3e0/665435935939380b65262cb8/AI-creates-what-the-average-person.png%3Fcrop%3D590%2C590%2Cx0%2Cy0"
        alt="">
    <p class="my-0 text-xl font-light">Hardik Dharmik</p>
    <p class="my-0 font-light text-purple-700">Teacher</p>
</div>