<div class="p-4 !h-full appear-animation border-0 rounded-2xl bg-pink-50 hover:shadow-lg hover:scale-103 transition-transform duration-500 cursor-pointer self-stretch flex-auto"
    (click)="goToBranchDetails()">
    <p class="text-violet-700 text-xl">{{branch.title}}</p>

    <p class="my-2 line-clamp-2">Address : {{branch.address}}</p>

    <hr>

    <div class="flex justify-between">
        <span class="flex items-center text-violet-700">
            <mat-icon class="small-icon">call</mat-icon>
            <span class="ml-2">{{branch.phone}}</span>
        </span>
    </div>
</div>